* {
  box-sizing: border-box;
}

.App {
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.offlinebar {
  background-color: yellow;
}

label {
  display: block;
  font-weight: bold;
}

.BookSummary {
  display: flex;
  flex-direction: 'horizontal';
}
.BookSummary__image {
}
.BookSummary__title {
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
}
.BookSummary_right-col {
  margin-left: 1em;
}

.BookSummary + .BookSummary {
  margin-top: 2em;
}

.Shelf {
}
.Shelf__title {
  font-size: 1.5em;
}

.Shelf__page + .Shelf__page {
  margin-top: 2em;
}

.Shelf__load-more-button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: gold;
  background-color: black;
  font-size: 2em;
  cursor: pointer;
  margin-bottom: 1em;
}
.Shelf__load-more-button:disabled {
  background-color: gray;
  color: block;
  cursor: default;
}
.Shelf__pagination {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 2em;
}

.Header__title {
  margin: 0.4em 0;
  font-size: 1.2em;
  font-style: italic;
}
